In [4]:
from sklearn import linear_model
import numpy as np
print("Hello")

Hello

In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [6]:
dataset_train=pd.read_csv("boston_train.csv")
dataset_test=pd.read_csv("boston_test.csv")
dataset_predict=pd.read_csv("boston_predict.csv")

In [9]:
np.shape(dataset_train)
np.shape(dataset_predict)

(6, 11)

In [10]:
np.shape(dataset_test)

(100, 12)

In [12]:
pd.DataFrame(dataset_train.isnull().sum())

           0
    400    0
9          0
CRIM       0
ZN         0
INDUS      0
NOX        0
RM         0
AGE        0
DIS        0
TAX        0
PTRATIO  400
MEDV     400

In [13]:
# Checking for null value sin testdataset
pd.DataFrame(dataset_test.isnull().sum())

           0
100        0
9          0
CRIM       0
ZN         0
INDUS      0
NOX        0
RM         0
AGE        0
DIS        0
TAX        0
PTRATIO  100
MEDV     100

In [14]:
# Checking for null values in predict datsset

pd.DataFrame(dataset_predict.isnull().sum())

         0
6        0
9        0
CRIM     0
ZN       0
INDUS    0
NOX      0
RM       0
AGE      0
DIS      0
TAX      6
PTRATIO  6

In [15]:
dataset_train=dataset_train.dropna()
dataset_train.isnull().sum()

    400    0
9          0
CRIM       0
ZN         0
INDUS      0
NOX        0
RM         0
AGE        0
DIS        0
TAX        0
PTRATIO    0
MEDV       0
dtype: int64

In [16]:
# dropping na values from test dataser
dataset_test=dataset_test.dropna()
dataset_test.isnull().sum()

100        0
9          0
CRIM       0
ZN         0
INDUS      0
NOX        0
RM         0
AGE        0
DIS        0
TAX        0
PTRATIO    0
MEDV       0
dtype: int64

In [23]:
x_train=dataset_train.drop('TAX',axis=1)
# print(dataset_train_x.head().values)
y_train=dataset_train['TAX']
y_train.head()

Series([], Name: TAX, dtype: float64)

In [49]:
# initializing the model
reg=linear_model.LinearRegression()
reg.fit(x_train,y_train)
# y_predict=reg.predict()

LinearRegression()

In [25]:
dataset=pd.read_csv("HousingData.csv")
dataset.shape

(506, 14)

In [28]:
from sklearn.model_selection import train_test_split
dataset.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [33]:
dataset=dataset.dropna()

In [34]:
dataset.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [36]:
x=dataset.drop('TAX',axis=1)
y=dataset['TAX']

In [38]:
x.shape
y.shape

(394,)

In [44]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33)
x_train.head

<bound method NDFrame.head of          CRIM    ZN  INDUS  CHAS    NOX     RM   AGE      DIS  RAD  PTRATIO  \
263   0.82526  20.0   3.97   0.0  0.647  7.327  94.5   2.0788    5     13.0
354   0.04301  80.0   1.91   0.0  0.413  5.663  21.9  10.5857    4     22.0
112   0.12329   0.0  10.01   0.0  0.547  5.913  92.9   2.3534    6     17.8
390   6.96215   0.0  18.10   0.0  0.700  5.713  97.0   1.9265   24     20.2
494   0.27957   0.0   9.69   0.0  0.585  5.926  42.6   2.3817    6     19.2
..        ...   ...    ...   ...    ...    ...   ...      ...  ...      ...
325   0.19186   0.0   7.38   0.0  0.493  6.431  14.7   5.4159    5     19.6
416  10.83420   0.0  18.10   0.0  0.679  6.782  90.8   1.8195   24     20.2
497   0.26838   0.0   9.69   0.0  0.585  5.794  70.6   2.8927    6     19.2
495   0.17899   0.0   9.69   0.0  0.585  5.670  28.8   2.7986    6     19.2
40    0.03359  75.0   2.95   0.0  0.428  7.024  15.8   5.4011    3     18.3

          B  LSTAT  MEDV
263  393.42  11.25  31.0
354  382.80   8.05  18.2
112  394.95  16.21  18.8
390  394.43  17.11  15.1
494  396.90  13.59  24.5
..      ...    ...   ...
325  393.68   5.08  24.6
416   21.57  25.79   7.5
497  396.90  14.10  18.3
495  393.29  17.60  23.1
40   395.62   1.98  34.9

[263 rows x 13 columns]>

In [45]:
reg=linear_model.LinearRegression()
reg.fit(x_train,y_train,sample_weight=None)

LinearRegression()

In [48]:
y_pred=reg.predict(x_test)
reg.score(x_test,y_test)
# reg.score(x_test,y_pred)

0.8834102537140227